body {
    background-color: #333;
    font-family: Verdana, Geneva, sans-serif;
}

#header {
    background-color: #7289D9;
    color: #717D7E;
    margin-left: auto;
    margin-right: auto;
}

#container {
    background-color: #333;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #DDD;
}

p, h1, h3 {
    color: #DDD;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    background-color: #333;
    top: 0;
    width: 100%;
}

#projects li {
    list-style-type: none;
    background-color: #333;
}

#header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

img {
    width: 15px;
}

#projects li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

#header li a:hover {
    background-color: #7289D9;
}

#projects li a:hover {
    background-color: #7289D9;
}

.active {
    background-color: #7289D9;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}

/* Graph CSS */
.graph .labels.x-labels {
  text-anchor: middle;
  font-family: Verdana, Geneva, sans-serif;
}

.graph .labels.y-labels {
  text-anchor: end;
  font-family: Verdana, Geneva, sans-serif;
}


.graph {
  height: 500px;
  width: 800px;
}

.graph .grid x-grid, .graph .grid y-grid {
    stroke: #CDE1E3;
}

.graph .grid {
  stroke: #DDD;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.label-title {
  font-size: 13px;
  font-family: Verdana, Geneva, sans-serif;
}

.point-labels {
    font-size: 8px;
    fill: #CDE1E3;
}
